/* linked Comfortaa google font fails to show accents in Edge */
@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/comfortaa-regular.ttf");
}

body {
  margin: 0;
  font-size: 16px;
}

* {
  font-family: "Comfortaa", sans-serif; /* -apple-system, BlinkMacSystemFont, */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 100%;
  margin: 64px 0;
}

/* For the sake of borders on low content pages like Dowedca */
#MiddleColumn {
  min-height: 82vh;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

summary {
  /* hide arrows */
  display: block;
  cursor: pointer;
}

li,
footer span,
.w3-top span,
label,
strong.w3-text-blue-gray {
  cursor: pointer;
}

audio {
  outline: none;
  height: 40px !important;
  border-radius: 20px;
  width: 100%;
  margin: 16px 0;
  z-index: 200;
}

.share-container > div {
  display: inline-block;
  cursor: pointer;
  width: 84px;
}

#RightPromotion li {
  border-bottom: none;
  padding-left: 0;
}

.w3-top .w3-bar-item {
  padding: 10px 20px;
}

.w3-bottom .w3-bar-item {
  padding: 10px 10px;
}

@media screen and (max-width: 992px) {
  #MiddleColumn {
    border: none;
  }

  .w3-top .w3-bar-item {
    padding: 10px 16px;
  }

  #MiddleButton {
    width: calc(100vw - 64px - 64px - (100vw - 100%));
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 15px;
  }
}

#Arrows span {
  width: 25%;
}

#Arrows {
  max-width: 500px;
}
